.button {
    font-weight: $bold;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    font-size: 20px;
    display: inline-block;
    transform: translateX(7px);
    &:before {
        content: '';
        display: block;
        height: calc(100% + 6px);
        width: 23px;
        background-color: $primary;
        position: absolute;
        z-index: -1;
        left: -7px;
        transition: all 0.4s;
        border-radius: 4px;
    }
    &:hover:before {
        width: calc(100% + 15px);
    }
}