header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    padding: 40px 0;
    li {
        margin-right: 30px;
    }
    a {
        @extend .button;
    }
}

.header-logo {
    max-width: 300px;
    position: absolute;
    z-index: 10;
}


@media (max-width: 991px) {
    .menu-item {
        display: none;
        
    }
    .menu-item-188 {
        display: block;
    }
}

@media(max-width:767px) {
    .header-logo {
        position: static;
    }
}