.hero {
    height: 100vh;
    position: relative;
    padding-top: 260px;
}

.hero-media {
    @include position-absolute;
    z-index: 0;
    overflow: hidden;
    &:before {
        @include position-absolute;
        z-index: 1;
        background-color: rgba($black, 0.45);
        content: '';
        display: block;
    }
    video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-position: center;
        object-fit: cover;
    }
    img.object-cover {
        object-position: 37% top;
    }
}

.hero-content {
    max-width: 618px;
    position: relative;
    z-index: 10;
}

.hero-subhead {
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 20px;
}

@media(max-width:767px) {
    .hero {
        padding-top: 130px;
        .container {
            padding-right: calc(var(--bs-gutter-x) * 0.9);
            padding-left: calc(var(--bs-gutter-x) * 0.9);
        }
    }


    .hero-subhead {
        font-size: 23px;
        line-height: 25px;
        margin-bottom: 60px;
    }
}