.hero {
    height: 100vh;
    position: relative;

}

.hero-media {
    @include position-absolute;
    z-index: 0;
    overflow: hidden;
    &:before {
        @include position-absolute;
        z-index: 1;
        background-color: rgba($black, 0.45);
        content: '';
        display: block;
    }
    video {
        position: absolute;
        height: auto;
        width: auto;
        min-height: 100%;
        min-width: 100%;
    }
}

.hero-content {
    max-width: 618px;
    position: relative;
    z-index: 10;
}

.hero-subhead {
    font-size: 25px;
}

@media(max-width:767px) {
    .hero {
        padding-top: 150px
    }

    .hero-subhead {
        font-size: 23px;
        line-height: 25px;
    }
}