.feature-reel {
    padding-top: 90px;
    padding-bottom: 90px;
}

.reel-text {
    padding-right:35px;
}

.reel-videos {
    padding-left: 35px;
    
}

.video-embed.film {
    @extend .transition;
}

.video-embed.drone {
    display: none;
    opacity: 0;
    transform: translateY(30px);
    @extend .transition;
}

@media(max-width: 991px) {
    .reel-text{
        padding-right: 21.6px;
    } 

    .reel-videos {
        padding-left: 21.6px;
        padding-top: 40px;
    }
}