.rental {
    padding-top: 90px;
    padding-bottom: 90px;
}

.rental-image {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 36px 36px 36px 36px;
    
}

.rental-image-wrap {
    padding-left: 35px;
}

.rental-copy {
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.rental-sub-copy {
    li {
        margin-top: 15px;
        display: flex;
        &:before {
            content: '';
            display: block;
            height: 10px;
            width: 10px;
            transform: rotate(-45deg);
            border-right: 3px solid $primary;
            border-bottom: 3px solid $primary;
            margin-right: 15px;
            margin-top: 9px;
        }
    }
}


@media(max-width: 991px) {
    .rental-sub-copy {
        margin-bottom: 30px;
    }
    
    .rental-image {
        padding-left: 0px;

    }
}