.team {
    padding-top: 90px;
    padding-bottom: 90px;
}

.team-header {
    padding-bottom: 35px;
}

.team-content {
    padding-top: 55px;
    .order-lg-2 {
        & + .team-image {
            padding-right: 80px;
            padding-left: 0;
        }
    }
}

.team-image {
    padding-left: 80px;
}

.team-wrap {
    overflow: hidden;
    aspect-ratio: 1/1;
}

.web-team {
    display: none;
    opacity: 0;
    transform: translateY(50px);
    @extend .transition;
}

.film-team {
    @extend .transition;
}


@media(max-width: 991px) {

    .team-content {
        .order-lg-2 {
            &+.team-image {
                padding-right: 21.6px;
                padding-left: 21.6px;
            }
        }
    }
    .team-wrap {
        height: 227.98px;
        width: 227.98px;
        margin: 0 auto;
    }

    .team-image {
        padding-right: 21.6px;
        padding-left: 21.6px;
        order: 1;
    }

    .team-bio {
        order: 2;
        margin-top: 23px;
    }

    .bio-detail {
        display: block;
        margin-top: 10px;
        margin-bottom: 30px;
    }

}

@media(max-width: 767px) {
    .team-wrap {
        margin: 20px auto;
    }

    .view-web-team,
    .view-film-team {
        display: inline-block;
        margin-top: 40px;
    }
}
