.team {
    padding-top: 90px;
    padding-bottom: 90px;
}

.team-header {
    padding-bottom: 45px;
}

.team-content {
    padding-top: 45px;
    .order-lg-2 {
        & + .team-image {
            padding-right: 80px;
            padding-left: 0;
        }
    }
}

.team-image {
    padding-left: 80px;
}

.team-wrap {
    
    border-radius: 50%;
    overflow: hidden;
    height: 238px;
}

.web-team {
    display: none;
    opacity: 0;
    transform: translateY(50px);
    @extend .transition;
}

.film-team {
    @extend .transition;
}

@media(max-width: 1399px) {
    .team-wrap {
        height: 193px;
    }
}

@media(max-width: 1199px) {
    .team-wrap {
        height: 227.99px;
    }

    .team-content {
        .order-lg-2 {
            & + .team-image {
                padding-right: 15px;
            }
        }
    }
}

@media(max-width: 991px) {
    .team-wrap {
        height: 227.98px;
        width: 227.98px;
        margin: 0 auto;
    }

    .team-image {
        padding-left: 15px;
        padding-right: 15px;
    }

}

@media(max-width: 767px) {
    .team-wrap {
        margin: 20px auto;
    }
}
