.works {
    padding-top: 90px;
    padding-bottom: 90px;
}

.film-works,
.web-works {
    @extend .transition;
    .row {
        margin-bottom: 100px;
    }
}

.works-media {
    padding-right: 35px;
}

.web-works {
    display: none;
    opacity: 0;
    transform: translateY(50px);
    a.site-url {
        text-transform: lowercase;
    }
    .works-media {
        img {
        position: relative;
        width: 100%;
        aspect-ratio: 16/9;
        overflow: hidden;
        border-radius: 36px;
        }
    }
}

.film-work-item,
.web-work-item {
    opacity: 0;
    display: none;
    @extend .transition;
}

.web-1, .web-2, .web-3,
.film-1, .film-2, .film-3 {
    display: flex;
    opacity: 1;
}

.view-more-web,
.view-more-film {
    display: inline-block;
}

@media(max-width: 991px) {
    .works-content {
        margin-top: 30px;
    }
    
    .works-media {
        padding-right: 21.6px;
    }
}

